<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Shelfbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700">-->
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/custom/css/custom.css">
    <link rel="stylesheet" type="text/css" href="lib/durandal/css/durandal.css">
    <!-- Favicon -->
    <!--<link rel="shortcut icon" href="lib/theme/img/favicon.ico">-->
</head>
<body>
<div id="applicationHost">
    <div class="splash">
        <div class="message">
            <i class="fa fa-spinner fa-spin"></i> Loading ...
        </div>

    </div>
</div>

<script src="lib/require/require.js" data-main="app/main"></script>
</body>
</html>
